04 Attention Models/1 Neural Machine Translation/assignment/model.pkl.gz filter=lfs diff=lfs merge=lfs -text
04 Attention Models/1 Neural Machine Translation/assignment/data/opus/medical/0.1.0/opus-train.tfrecord-00000-of-00002 filter=lfs diff=lfs merge=lfs -text
04 Attention Models/1 Neural Machine Translation/assignment/data/opus/medical/0.1.0/opus-train.tfrecord-00001-of-00002 filter=lfs diff=lfs merge=lfs -text